<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <div th:replace="partials/head.html :: head"></div>

</head>
<body>
<div th:replace="partials/navbar.html :: navbar"></div>
<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <h1 style="margin-top:100px">Create post</h1>



            <div class="add-img">
                <div>
                    <img alt="" width="750" height="250" class="postPic" style="background-color: gray">
                </div>
                <button class="upload">Upload Image</button>
            </div>
            <form th:action="@{/posts/create}" method="POST" th:object="${post}">

<!--                <div class="form-group has-error">-->
<!--                    <label id="slug">Slug <span class="require">*</span>-->
<!--                        <small>(This field use in url path.)</small></label>-->
<!--                    <input type="text" class="form-control" name="slug" />-->
<!--                    <span class="help-block">Field not entered!</span>-->
<!--                </div>-->

                <div class="form-group">
                    <label id="title">Title</label>
                    <input th:field="*{title}" type="text" class="form-control" name="title" />
                </div>

                <div class="form-group">
                    <label id="body">Body</label>
                    <textarea th:field="*{body}" rows="5" class="form-control" name="body" ></textarea>
                </div>

<!--                <div class="form-group">-->
<!--                    <p><span class="require">*</span> - required fields</p>-->
<!--                </div>-->
                <input type="hidden" id="postPicUrl" name="postPicUrl" value="" th:field="*{image}">


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                </div>

<!--                <input th:field="*{user}" th:value="${post.getUser()}" type="text" class="form-control" name="user"-->
<!--                       hidden />-->

                <div class="label-input">
                </div>

            </form>
        </div>

    </div>
</div>



<script th:replace="partials/script.html :: script"></script>



<script>
    new FroalaEditor('textarea');
</script>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    const button = document.querySelector('.upload')
    const image = document.querySelector('#postPicUrl')
    const image2 = document.querySelector('.postPic')

    button.addEventListener('click', () => {
        const apiKey = 'AHekHFWvmQxaoj8kxyZQ9z'
        const client = filestack.init(apiKey)
        const options = {
            accept: ['image/*'],
            onUploadDone: (uploadResponse) => {
                console.log("onUploadDone", uploadResponse);
                image.setAttribute('value', uploadResponse.filesUploaded[0].url)
                image2.setAttribute('src', uploadResponse.filesUploaded[0].url)

            },
        };
        client.picker(options).open();
    });
</script>

</body>
</html>