<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <div th:replace="partials/head.html :: head"></div>
</head>
<body>
<div th:replace="partials/navbar.html :: navbar"></div>
<br>

<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <h1 style="margin-top:150px">Edit Post</h1>

            <form th:action="@{/posts/edit}" th:method="post" th:object="${post}">


                <input th:field="*{image}" th:value="${post.getImage()}" hidden>

<!--                <div class="form-group has-error">-->
<!--                    <label id="slug">Slug <span class="require">*</span>-->
<!--                        <small>(This field use in url path.)</small></label>-->
<!--                    <input type="text" class="form-control" name="slug" />-->
<!--                    <span class="help-block">Field not entered!</span>-->
<!--                </div>-->

                <div class="form-group">
                    <label id="title">Title <span class="require">*</span></label>
                    <input th:field="*{title}" th:value="${post.getTitle()}" type="text" class="form-control"
                    name="title" />
                </div>

                <div class="form-group">
                    <label id="body">Body</label>
                    <textarea th:field="*{body}" th:value="${post.getBody()}" rows="5" class="form-control"
                    name="description"
                    ></textarea>
                </div>

                <div class="form-group">
                    <p><span class="require">*</span> - required fields</p>
                </div>

                <div class="form-group">
                    <input th:field="*{user}" th:value="${post.user}" hidden>
                    <input th:field="*{id}" th:value="${post.id}" hidden>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>
<script th:replace="partials/script.html :: script"></script>
</body>
</html>