<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Post</title>
    <div th:replace="partials/head.html :: head"></div>
</head>
<body>
<div th:replace="partials/navbar.html :: navbar"></div>
<div class = "container mt-5">
    <div class = "row">
        <div class ="col-lg-8">
            <article>

<!--                <h1 class="fw-bolder mb-1" style="margin-top:100px">Single Post</h1>-->
            <div th:each="post : ${posts}">
                <header class="mb-4">
                <h1 class="fw-bolder mb-1" style="margin-top:100px"><span th:text="${post.getTitle()}"></span></h1>
                    <div class="text-muted fst-italic mb-2">Posted on <span th:text="${#dates.format(post.createDate,'MMM dd YYYY')}"></span>
                    by <span th:text="${post.user.getUsername()}"></span>
                    </div>
                </header>
                <figure class="mb-4"><img class="img-fluid rounded" th:src="@{${post.getImage()}}" /></figure>
                <section class="mb-5">
                <p class="fs-5 mb-4"><span th:utext="${post.getBody()}"></span></p>
<!--                <h6>submitted by: <span th:text="${post.user.getUsername()}"></span></h6>-->
<!--                <span class="post-meta">Posted on: <span th:text="${#dates.format(post.createDate,'MMM dd YYYY')}"></span></span>-->
                </section>
            </div>
            </article>
            </div>
        </div>
    </div>
</div>



<script th:replace="partials/script.html :: script"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

</body>
</html>