<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>User Profile Edit</title>
</head>
    <body>
    <div th:replace="partials/navbar.html :: navbar"></div>
    <div class = "container">
        <div class = "row">
            <div>
                <div class="col-sm-6 mx-auto">
                <h1 style="margin-top:100px">Edit Your Information</h1>
                </div>
                <form th:action="@{/users/edit}" method="post" th:object="${user}" class="col-lg-6 offset-lg-3">
                    <input th:field="*{id}" th:value="${user.getId}" hidden>

                    <div class="form-group row">
                    <div class="col-sm-6 mx-auto">
                    <label for="username">Username</label>
                    <input id="username" th:field="*{username}" />
                    </div>
                    </div>

                    <div class="form-group row">
                    <div class="col-sm-6 mx-auto">
                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" />
                    </div>
                    </div>

                    <div class="form-group row">
                    <div class="col-sm-6 mx-auto">
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}" />
                    </div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-6 mx-auto">
                        <button type="submit" value="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <script th:replace="partials/script.html :: script">
    </script>
    </body>

</html>