<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <div th:replace="partials/head.html :: head"></div>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<!--<form th:action="@{/login}" method="post">-->
<!--    <label for="username">Username</label>-->
<!--    <input id="username" name="username" type="text" />-->
<!--    <label for="password">Password</label>-->
<!--    <input id="password" name="password" type="password" />-->
<!--    <input type="submit" value="Log In" />-->
<!--</form>-->

<div class="container">
    <div class="row">
        <div class="col-3">

            <form class="form-horizontal" role="form" th:action="@{/login}" method="post">
                <div>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" />
                </div>
                       <div class="offset-lg-2 col-lg-10">
                        <button type="submit" value="Log In" class="btn btn-primary">Sign in</button>
                    </div>

            </form>
        </div>
    </div><!--/row-->
</div><!--container-->





<script th:replace="partials/script.html :: script">
</script>



</body>
</html>
