<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <div th:replace="partials/head :: head"></div>

</head>
    <body>
        <div th:replace="partials/navbar.html :: navbar"></div>

                <div class = "container">
                    <div class = "row">
                        <div class ="col-lg-12">
                            <h1 style="margin-top:100px">Dashboard</h1>
                            <div>
                                <div class="row">
                                    <div class="col-3">
                                        <p>Welcome,<span
                                                th:text ="${#authentication.getPrincipal().getUsername()}"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <th:block th:each="post : ${posts}"
                                      th:if="${post.getUser().getId()} == ${#authentication.getPrincipal().getId()}">
                                <hr>
                                <h3><strong><span th:text="${post.getTitle()}"></span></strong></h3>
                                <p><span th:text="${post.getBody()}"></span></p>
                                <h6>submitted by: <span th:text="${post.user.getUsername()}"></span></h6>
                                <hr>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>





<!--                <div>-->
<!--                    Welcome, <span class="text-capitalize"-->
<!--                                   th:text ="${#authentication.getPrincipal().getUsername()}"></span>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <th:block th:each="post : ${posts}" th:if="${user} ==  $post.getUser()}">-->
<!--                        <div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-3">-->
<!--                                    <p><span th:text="${post.getTitle()}"</span></p>-->
<!--                                    <p><span th:text="${post.getBody()}"</span></p>-->

<!--                                    <a th:href="@{'/posts/edit/' + ${post.getId()}}"><button class="btn"></button></a>-->

<!--                                </div>-->



<!--                            </div>-->

<!--                        </div>-->



<!--                    </th:block>-->




<!--                </div>-->




<!--            </div>-->





        <script th:replace="partials/script.html :: script"></script>
    </body>
</html>