html,
body {
    height: 100%;
}

nav{
    text-align: left;
}


.sign-in{

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    background-color: #f5f5f5;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
   }

/*Login Page*/

.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.login-form .checkbox {
    font-weight: 400;
}

.login-form .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}


.login-form input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.login-form input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}









/*.form-control{*/
/*    display: block;*/
/*    width: 100%;*/
/*    line-height: 1.5;*/
/*    color: #495057;*/
/*    background-color: #fff;*/
/*    background-clip: padding-box;*/
/*    border: 1px solid #ced4da;*/
/*    border-radius: 0.25rem;*/
/*}*/


/*Sign-Up Page*/


.signup-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.signup-form .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.signup-form input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}




