html,
body {
    height: 100%;
}

nav{
    text-align: left;
}


/*Index Page*/

/*.display-4 {*/
/*    font-size: 2.5rem;*/
/*}*/
/*@media (min-width: 768px) {*/
/*    .display-4 {*/
/*        font-size: 3rem;*/
/*    }*/
/*}*/

.read-more{
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;"
}

/*.index-head{*/
/*    margin-top: 150px;*/
/*}*/


/*Body of Login and Sign-In*/
.sign-in{

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


.index-body {
    margin-top: 58px;
    /*margin-bottom: 80px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding: 80px 0px ;*/
    /*background-color: #f5f5f5;*/
    /*margin-top: 300px;*/
    /*font-size: 1rem;*/
    /*font-weight: 400;*/
    /*line-height: 1.5;*/
    /*color: #212529;*/
   }

.posts-h4{
    padding: 3% 7%;
}

/*Login Page*/

.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.login-form .checkbox {
    font-weight: 400;
}

.login-form .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}


.login-form input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.login-form input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*Profile Page*/

.profile-body{
    margin-top: 58px;
}

.profile-btn{
    width: 100px;

}









/*Sign-Up Page*/


.signup-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.signup-form .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.signup-form input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}




