<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<h1>Welcome user</h1>
<br>

<form th:action="@{/posts/create}" th:method="post" th:object="${posts/create}">
    <div>
        <label>title</label>
        <input type="text" th:field="*{title}" id="title" class="field" />
    </div>
    <div>
        <label>description</label>
        <input type="text" th:field="*{body}" id="body" class="field" />

    </div>
    <button>Create Post</button>
</form>

</body>
</html>

